@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,900&display=swap");
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ===================================================================================== */
body {
  font-family: "Poppins";
  line-height: 1;
  background-color: #ffffff;
  font-size: 18px;
  color: #000;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* ======================================== Page ======================================== */
.page {
  flex: 1 1 auto;
}
.page__main {
}
.page__cards {
}
.page__services {
}
.page__understand {
}
.page__contact {
}
/* ================================================================================ */
/* ======================================== Header ======================================== */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 105px;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.menu__item {
}
.menu__link {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: relative;
}
.menu__link:hover::after {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -2.5px;
  left: 0;
}
.menu__link:hover {
  color: #b7b7b7;
}
.header__languages {
  display: flex;
  gap: 8px;
}
.header__language {
  color: #b7b7b7;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.header__language:hover {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 992.98px) {
  .header__logo {
    padding-right: 15px;
  }
  .menu__list {
    padding-top: 5px;
    gap: 25px;
  }
}
@media (min-width: 670.98px) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 80px;
  }
}
@media (max-width: 670.98px) {
  .menu {
    display: none;
  }
  .header__language {
    display: none;
  }
  .burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}
/* ================================================================================ */
/* ======================================== Main ======================================== */
.main {
  padding-top: 217px;
  padding-bottom: 305px;
  position: relative;
  min-height: 100vh;
}
.main__container {
  position: relative;
  z-index: 50;
}
.main__title {
  max-width: 791px;
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  text-transform: uppercase;
  z-index: 25;
}
.main__title:not(:last-child) {
  margin: 0px 0px 53px 0px;
}
.main__btn {
}
.button {
  display: inline-flex;
  background: #db2512;
  height: 50px;
  padding: 11px 48px;

  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 150%; /* 27px */
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #ee210a;
}
.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1050px) {
  .main {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media (max-width: 535.98px) {
  .main {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .main__title {
    font-size: 42px;
  }
}
@media (max-width: 375.98px) {
  .main__title {
    font-size: 36px;
  }
}
/* ================================================================================ */
/* ======================================== Cards ======================================== */
.cards {
  position: relative;
  z-index: 50;
  margin: -98px 0px 0px 0px;
}
.cards__container {
}
.cards__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10.5px;
}
.cards__column {
  padding: 0px 10.5px;
  flex: 0 1 33.333%;
}
.cards__item {
  height: 100%;
  padding: 39px 39px 37px 39px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
.item-cards {
}
.item-cards__image {
  flex: 0 1 30px;
}
.item-cards__image:not(:last-child) {
  margin: 0px 0px 21px 0px;
}
.item-cards__image img {
  max-width: 100%;
}
.item-cards__title {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.item-cards__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-cards__text {
  color: #b7b7b7;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
@media (max-width: 1070px) {
  .cards__column {
    flex: 0 1 50%;
  }
  .cards__column:last-child {
    flex: 0 1 100%;
  }
  .cards__item {
    text-align: center;
  }
  .cards__column {
    margin: 0px 0px 21px 0px;
  }
}
@media (max-width: 679.98px) {
  .cards__column {
    flex: 0 1 100%;
  }
}
/* ================================================================================ */
/* ======================================== Services ======================================== */
.services {
  padding-top: 99px;
  padding-bottom: 98px;
}
.services__container {
}
.services__title {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%; /* 45px */
  letter-spacing: 4.5px;
  text-transform: uppercase;
}
.services__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.services__view {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.25px;
}
.services__view:hover {
  text-decoration: underline;
}
.services__view:not(:last-child) {
  margin: 0px 0px 60px 0px;
}
.services__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}
.services__column {
}
.services__item:not(:last-child) {
  margin: 0px 0px 21px 0px;
}
.services__item {
}
.item-services__body {
  position: relative;
}
.item-services__body:not(:last-child) {
  margin: 0px 0px 21px 0px;
}
.item-services {
}
.item-services__image {
  position: relative;
  padding-bottom: 136%;
  max-width: 100%;
}
.item-services__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-services__overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
}
.item-services__body:hover .item-services__overlay {
  opacity: 1;
}
.item-services__plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-services__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 88px 32px 29px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: 4.14px;
  text-transform: uppercase;
}
.item-services__title {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services__row {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-services__image {
    padding-bottom: 75%;
  }
  .services__view:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 960px) {
  .item-services__body:hover .item-services__overlay {
    display: none;
  }
}
@media (max-width: 600px) {
  .services__row {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 35px;
  }
  .item-services__image {
    padding-bottom: 70%;
  }
}
/* ================================================================================ */
/* ======================================== Understand ======================================== */
.understand {
  padding-top: 117px;
  padding-bottom: 116px;
  background-color: #171616;
}
.understand__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.understand__body {
}
.understand__title {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%; /* 45px */
  letter-spacing: 4.5px;
  text-transform: uppercase;
  max-width: 490px;
}
.understand__title:not(:last-child) {
  margin: 0px 0px 42px 0px;
}
.understand__text {
  color: #b7b7b7;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%; /* 22.5px */
  letter-spacing: 3.45px;
  max-width: 506px;
}
.understand__text:not(:last-child) {
  margin: 0px 0px 48px 0px;
}
.understand__about {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.understand__about:hover {
  text-decoration: underline;
}
.understand__image {
  height: 342px;
  max-width: 100%;
}
.understand__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1050.98px) {
  .understand {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .understand__text {
    max-width: none;
  }
  .understand__title {
    max-width: none;
  }
  .understand__title:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  .understand__text:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .understand__container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .understand__image {
    min-height: 490px;
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 770px) {
  .understand__image {
    min-height: 390px;
  }
}
@media (max-width: 590px) {
  .understand__image {
    min-height: 230px;
  }
}
@media (max-width: 390px) {
  .understand__title {
    font-size: 25px;
  }
  .understand__text {
    font-size: 13px;
  }
}
/* ================================================================================ */
/* ======================================== Easy ======================================== */
.easy {
  padding-top: 99px;
  padding-bottom: 99px;
}
.easy__container {
}
.easy__title {
  color: #000;
  font-family: Poppins;
  font-size: 148px;
  font-weight: 900;
  line-height: 150%; /* 222px */
  text-transform: uppercase;
  text-align: center;
}
.easy__title:not(:last-child) {
  margin: 0px 0px 58px 0px;
}
.easy__subtitle {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 92px 0px;
}
.easy__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}
.easy__column {
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
.easy__item {
  height: 100%;
  padding-top: 31px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 24px;
}
.item-easy {
}
.item-easy__title {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.item-easy__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-easy__text {
  color: #b7b7b7;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  max-width: 332px;
}
@media (max-width: 1050px) {
  .easy {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .easy__title {
    font-size: 120px;
  }
}
@media (max-width: 992.98px) {
  .easy__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 830.98px) {
  .easy {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .easy__title {
    font-size: 90px;
  }
  .easy__subtitle {
    font-size: 25px;
    margin: 0px 0px 50px 0px;
  }
  .easy__title:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 670px) {
  .easy__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .item-easy__text {
    max-width: none;
  }
  .easy__title {
    font-size: 80px;
  }
  .easy__title:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
  .easy__subtitle {
    font-size: 23px;
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 590px) {
  .easy__title {
    font-size: 60px;
  }
  .easy__subtitle {
    font-size: 23px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 420px) {
  .easy__title {
    font-size: 45px;
  }
  .easy__subtitle {
    font-size: 18px;
  }
}
/* ================================================================================ */
/* ======================================== Contact ======================================== */
.contact {
  padding: 77px 0px;
  background-color: #171616;
}
.contact__container {
}
.contact__title {
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%; /* 45px */
  letter-spacing: 4.5px;
  text-transform: uppercase;
}
.contact__title:not(:last-child) {
  margin: 0px 0px 47px 0px;
}
.contact__form {
  max-width: 440px;
}
.contact__row {
  margin: 0 -20px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.contact__group {
  padding: 0 20px;
  flex: 1 1 auto;
  position: relative;
  margin: 0px 0px 30px 0px;
}
.input {
  width: 100%;
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: 2.25px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  padding: 9px 0;
}
.label {
  position: absolute;
  top: 0;
  left: 20px;
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: 2.25px;
  /* padding-top: 8px; */
  padding-bottom: 8px;
  pointer-events: none;
  transition: all 0.2s ease;
}
.input:focus + .label {
  font-size: 12px;
  transform: translateY(-16px);
}
.input:not(:placeholder-shown) + .label {
  font-size: 12px;
  transform: translateY(-16px);
}
.textarea {
  width: 100%;
  min-height: 130px;
  resize: vertical;
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: 2.25px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.textarea:focus + .label {
  font-size: 12px;
  transform: translateY(-16px);
}
.textarea:not(:placeholder-shown) + .label {
  font-size: 12px;
  transform: translateY(-16px);
}
@media (max-width: 767.98px) {
  .contact__title {
    text-align: center;
  }
  .contact__form {
    max-width: none;
  }
  .contact__row {
    margin: 0 -20px;
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact__group {
    margin: 0px 0px 60px 0px;
  }
  .textarea {
    min-height: 100px;
  }
}
/* ================================================================================ */
/* ======================================== Footer ======================================== */
.footer {
  padding-top: 65px;
  padding-bottom: 63px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: 2.25px;
  padding-right: 20px;
}
.footer__icons {
  display: flex;
  gap: 21px;
}
.footer__icon {
  flex: 0 1 25px;
}
.footer__icon img {
  max-width: 100%;
}
@media (max-width: 830.98px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 33px;
  }
}
@media (max-width: 526.98px) {
  .footer__container {
    justify-content: center;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__copyright:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
/* ================================================================================ */
